# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database (nếu có file local)
*.db

# Environment variables
.env